.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  justify-content: center; /* Center align cards horizontally */
  color: whitesmoke; /* Set font color to purple */
  padding: 4rem 2rem; /* Add some padding to the container */
  width: 70%;
  margin-left: 10%;
}

.card {
  flex: 1; /* Distribute available space evenly among cards */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  min-width: 50em;
  max-width: 50em;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(./components/PaintedBackground.jpg);
  }

  .addCart {
    max-width: 7em;
    max-height: 2em;
    font-size: x-small;
    margin: 1rem 1rem;
  }

.NavBar {
  position:fixed;
  background-image: url(./components/PaintedBackground.jpg);
  border-bottom: .8rem double rgb(255, 255, 0);
  width: 100%;
  height: 3rem;
  margin: auto;
  padding: auto;
  display:block;
}

.navButton {
  font-size: small;
  margin: 1em 1em;
  padding: auto;
  text-decoration: none;
  color: whitesmoke;
  display: inline;
  min-width: fit-content;
  min-height: fit-content;
}

.title {
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  display: inline;
  padding-left: 1%;
  font-size:xx-large;
  text-decoration: none;
}

.outline {
  text-shadow:
    -1px -1px 0 #00000079,
    1px -1px 0 #00000079,
    -1px 1px 0 #00000079,
    1px 1px 0 #00000079;  
  color: whitesmoke;
  }
  
  .searchBar {
    display:block;
    position:fixed;
    z-index: 99;
    margin-left: 43%;
    width: 15%;
    margin-top: 2.8%;
  }

  .padding {
    padding: 4rem 2rem;
    height: 100vh;
  }